<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>管理系统</title>
    
    <style>
    *{
       margin: 0；padding: 0;
    }
    .clear{
      clear: both;
    }
      .app_1{
             height: 370px; width: 570px;border: 1px solid red;
             margin: 30px auto;
           }
      .app_1 ul li{
        list-style-type:none;
        width:150px;
        height: 100px;
        border:1px solid orange;
        margin: 20px 20px 0px 0px;
        float: left;
        text-align: center;
        /* color:orange; */
        font-size: 16px;
      }
      .sml_size{
        font-size: 14px;
      }
      /* .app_1 ul li:hover{
        background-color: orange;
        color:white;
      } */
      .pay{
        display: inline-block;
        width: 350px;
        height: 47px;
        border:1px solid red;
        margin: 30px 0px 0px 100px;
        border-radius: 10px;
        font-size: 16px;
        color:orange;
      }
      .selected{
        background-color: orange;
        color:white;
      }
      .pay:hover{
        background-color: orange;
        color:white;
      }
    </style>
  </head>
  <body>
    <div id="app" class="app_1">
       <ul class="clear">
         <li value = "20"> 
           <p>200积分</p >
           <span class="sml_size">20元</span>
         </li>
         <li value = "50"> 
           <p>500积分</p >
           <span class="sml_size">50元(送100积分)</span>
         </li>
        
         <li value = "100">
           <p>1000积分</p >
           <span class="sml_size">100元(送300积分)</span>
         </li>
         <li value = "200">
           <p>2000积分</p >
           <span class="sml_size">200元(送600积分)</span>
         </li>
         <li value = "400">
           <p>4000积分</p >
           <span class="sml_size">400元(送1200积分)</span>
         </li>
         <li value = "500">
            <p>5000积分</p >
            <span class="sml_size">500元(送两千积分)</span>
        </li>
       </ul>
       <button class="pay">支付</button>
    </div>

    <input id="appId" type="hidden" value="<%= data.openid %>">>
    <input id="timeStamp" type="hidden" value="<%= data.openid %>">
    <input id="nonceStr" type="hidden" value="">
    <input id="package" type="hidden" value="">
    <input id="signType" type="hidden" value="MD5">
    <input id="paySign" type="hidden" value=""> 

  </body>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script>
        function onBridgeReady(params){
            // var appId = document.getElementById('appId').value;
            // var timeStamp = document.getElementById('timeStamp').value;
            // var nonceStr = document.getElementById('nonceStr').value;
            // var package = document.getElementById('package').value;
            // var signType = document.getElementById('signType').value;
            // var paySign = document.getElementById('paySign').value;
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": params.appid,     //公众号名称，由商户传入     
                    "timeStamp":parseInt(new Date().valueOf() / 1000) ,         //时间戳，自1970年以来的秒数     
                    "nonceStr": params.nonceStr, //随机串     
                    "package": params.package,     
                    "signType": params.signType,         //微信签名方式：     
                    "paySign": params.paySign //微信签名       
                },
                function(res){
                    WeixinJSBridge.log(res.err_msg); 
                    //alert(res.err_code + res.err_desc + res.err_msg);
                    if (res.err_msg == "get_brand_wcpay_request:ok") {  
                        window.location.href = '/artist/alipayresult?trade_status=TRADE_SUCCESS';
                        // 执行跳转页面....  
                    } else if (res.err_msg == "get_brand_wcpay_request:cancel") {  
                        alert ("用户取消支付!");  
                    } else {  
                        alert ("支付失败!");  
                    }  
                    
                }
            ); 
        }
        
        

        $(function(){
            $(".app_1 li").click(function() {
                $(this).siblings('li').removeClass('selected');  // 删除其他兄弟元素的样式
                $(this).addClass('selected');                            // 添加当前元素的样式
            });
            $(".pay").click(function() {
                var money = $(".selected").attr("value");
                // alert(money);
                getPrePaid(money);
                // alert(money);
                // if(money != "undefined" && money){
                //     if (typeof WeixinJSBridge == "undefined"){
                //         if( document.addEventListener ){
                //             document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                //         }else if (document.attachEvent){
                //             document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                //             document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                //         }
                //     }else{


                //         onBridgeReady();
                //     }
                // }
            });
            
           function getPrePaid(value){
                $.ajax({
                    type: "get",
                    url:"http://127.0.0.1:7001/getPrePaidId",
                    // data: "money="+value,  //此处data可以为 a=1&b=2类型的字符串 或 json数据。
                    data: {money : value},
                    async : true,
                    dataType: "json",
                    // success: function (data ,textStatus, jqXHR)
                    // {   
                    //     if("200"==data.status){
                    //         alert("合法！");
                    //         return true;
                    //     }else{
                    //         alert("不合法！错误信息如下："+data.errorMsg);
                    //         return false;
                    //     }
                    // },
                    // error:function (XMLHttpRequest, textStatus, errorThrown) {   
                    //     alert(textStatus);
   
                    //     alert("请求失败！");
                    // }
                });
           }
        }); 
        
        </script>
</html>