<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>使用说明</title>
  </head>
  <body>
    <div id="app"></div>

    3月14日晚，一辆奔驰在高速上失控后报警求救，车主称因为开启定速巡航后失控，无法减速和停车，只能以120公里/时的速度狂奔，随后交警部门通过打开车道、与奔驰售后联系等及时的操作，使得该奔驰安全到达目的地。随后车主接受采访时称：“当时奔驰所有系统全部失灵，是有方向盘能动，在交警的帮助下以120公里时速冲过收费站，网上说的奔驰公司远程遥控停车是子虚乌有，是我打开车门降速的。”韩寒原文：关于那台失控的奔驰，我就多说两句吧。首先要感谢交管部门，反应迅速，认真负责，其次要庆幸车主没事。整件事情有很多疑点，版本也颇多，一会儿说奔驰远程锁车，一会说车主开门降速，一会儿说车被拖走检测，一会儿说车主继续使用，这些可能是记者描述的时候自己发挥了，也可能是车主面对不同媒体随口一说，我们以最新的版本为准。最新的版本是车主开启巡航定速，车辆被锁死在120，无法加速，无法减速，无法刹车，交警为其开生命通道，车主安然过收费站，狂奔一小时后，车主最终依靠开门解安全带等手段降下了车速，并刹车成功。

　　车主继续低速行驶至成都，车辆至今在使用。我有一些疑问。首先现代车辆纵然大多是电子油门电子刹车，但在刹车方面，电子信号只负责助力泵，脚依然能推动液压咬合刹车盘，无非就是没有了助力。没有刹车助力的车辆大部分男性都可以踩动，甚至有些老派职业车手就是不喜欢刹车助力。这是车辆设计的一个逻辑，刹车物理优先，并非奔驰独有，大家都这样。如果刹车完全失灵，那只能说明刹车系统在物理上也坏了，最常见比如刹车油管破裂，这种通常不可逆，不大可能最终车又好了，并可以继续使用。第二，中国高速公路路况，就算四车道夜晚，要匀速开120，一小时内一次都没有遇上几车并行，真的需要很大的运气。
    <img src="/public/img/weixin.jpg"/>

</html>
